Test Data/Duplicates in one folder/Backup/recup_dir.3 - Copy/*
Test Data/Duplicates in one folder/Test data/recup_dir.3 - Copy/*
workspace.code-workspace
Test Data/Duplicates in two folders with csv/folder1.csv
Test Data/Duplicates in two folders with csv/folder2.csv
